﻿@model ECR_Project.Models.tblPoliceOfficerRecord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblPoliceOfficerRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Post)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Post)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeltNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeltNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblGender.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblGender.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblPoliceStation.PSName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblPoliceStation.PSName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
